@import './vars';

.bg_footer {
    background: $color_black;
    color: white;
}

.footer {
    padding: 50px 0 0 0;
}

.footer_top {
    display: flex;
    gap: 50px;
    justify-content: space-between;

    @media screen and (max-width: 1300px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}


.footer_top_text_logo {
    font-size: 40px;
    font-weight: 600;

    span {
        color: gray;
        font-size: 17px;
    }
}



.footer_top_text_nav {
    display: flex;
    gap: 50px;
    justify-content: center;

    @media screen and (max-width: 500px) {
        flex-direction: column;

    }
    
}

.footer_top_text_nav_link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_top_text_nav_link_ul {
    display: flex;
    gap: 20px;
    flex-direction: column;

    a {
        color: $color_gray;
        text-decoration: none;
        transition: 0.7s ease;

        &:hover {
            color: white;
        }
    }
}



.footer_top_text_social {
    display: flex;
    gap: 30px;

    img {
        width: 30px;
        height: 30px;
    }

}

.footer_bottom {
    color: white;
    text-align: center;
    padding: 40px 0 20px 0;
}

.p_footer {
    color: white;
    text-align: end;

    @media screen and (max-width: 1300px) {
        text-align: center;
        padding-top: 30px;
    }
}